/* Gonzalo Header*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


.cuerpo{
    background: fixed url("../Image/fondo.jpg") ;
    background-size: 100%;
}
.header{
    width: 100%;
    height: 110px;
    background: #ffffff;
    display: flex;
    justify-content:space-around;
}
.header-logo{
    flex-wrap: wrap;
    display:flex;
    align-items: center;
    justify-content: center;
}
.header-logo img{
    width: 105px;
    
}

.header-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
}
.header-nav li{
    list-style: none;
    text-shadow: 1px 1px 10px #00000071;
}
.header-nav li a{
    text-decoration: none;
    color: #000;
}
.header-nav li a:hover{
    color:#777;
    font-size: 120%;
}
.header-nav li a b{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
.header-nav li a i{
    display:none;
}
.hdr_btn-container{
    grid-area: Boton;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.hdr_btn{
    margin: 15px;
    padding:8px;
    color: #ff0000;
    border: 1px solid #ff0000;
    border-radius: 5px;
    background-color: transparent;
}
.hdr_btn:hover{
    color: #8b0000;
    border: 1px solid #8b0000;
    background-color: #ff000011;
}
.nav-toggle{
    background: transparent;
    border:none;
    display:none;
}

.contenedor1{
    background: rgba(170, 68, 68, 0.384);
}













/*Patrick*/
.div-recom{
    padding: 10px;
    color:rgb(248, 248, 248);
    text-align:center;
    background: rgb(124, 0, 0);
}
.contenedor1{
    padding: 0;
    margin:0;
    width: 100%;
    height: 400px;
    
}
.recom{
    width: 100%;
    height: 100%;
    background:#fff;
    display: flex;
    flex-direction :column;
    align-items:center;
    padding:30px;
}
.recom1{
    margin:10px;
    width: 60%;
    display: flex;
}
.recom-h2{
    padding:10px;
}
.txt-recom{
    width: 60%;
    padding:5vh 1vw;
    align-items:center;
}
.txt-recom h4{
    font-size: 32px;
    margin-bottom: 1.2vh;
}
.txt-recom p{
    font-size:22px;
    line-height:1.5;
}
.img-recom{
    width:40%;
    min-width: 200px;
}
.contenedor-carta{
    width: 30%;
    border: 2px solid #ce202e;
    border-radius: 7px;
    box-shadow: 0px 8px 12px #ce202e;
    margin: 30px auto;
}
.carta1{
    width:100%;
    padding: 1.5vh 2.5vw;
    background: #ce202e;
    color: #fff;
    font-size: 24px;
}
.carta2{
    width:100%;
    display:flex;
    padding:2vh 1vw;
    background:#fff;
}
.txt-carta{
    width:70%;
    justify-content: center;
    align-items: center;
    padding: 5px 25px;
}
.txt-carta h5{
    font-size: 20px;
}
.imagen-comida{
    width:110;
    height:110px;
    background:black;
}
.container-t{
    width: 100%;
    flex-wrap:wrap;
    display:flex;
}
.img-rec{
    height:100%;
    width:100%;
}
.espaciado{
    height: 10px;
}
.hr-carta{
    width:100%;
}
.carta-line{
    padding:1vh 2vw;
    display:flex;
    background:#fff
}













/* PARTE GONCHO */
footer{
    display:grid;
    text-align: center;
    align-items: center;
    background: #000000;
    padding:30px 0;
    color:rgb(255, 255, 255);
    font-size: 16px;
}
.ftr_red-grid{
    display:flex;
    justify-content: space-between
}
.ftr_redes{
    grid-row:1;
    grid-column:1;
    display:inline-block;
    margin-bottom:10px;
}
.ftr_redes i{
    margin:1em
}
.ftr_redes a{
    text-decoration: none;
    color: #fff;
}
.ftr_icn{
    width:6em;
    margin: 1em
}
.ftr_logo{
    display:flex;
    padding-bottom:10px;
    background:#ffffff;
    border-radius: 50%;
    grid-row: 2;
    margin: auto;
    grid-column: 1;
    width:120px;
    align-items: center;
    justify-content: center;
    height:120px;
}

footer i.fab{
    border-radius: 60px;
    box-shadow: 0px 0px 3px rgb(255, 255, 255);
    padding: 0.5em 0.6em;
}
.ftr_datos{
    display:grid;
    width: 70vw;
    margin: 2vh auto;
    grid-template-columns: .5fr .5fr .5fr;
}
.ftr_d-horario{
    grid-column: 1;
}
.ftr_d-direccion{
    grid-column:2
}
.ftr_d-telefono{
    grid-column: 3;
}
.ftr_derechos{
    color:rgb(167, 167, 167)
}
.r_main-bg{
    background: fixed url("../Image/bg.jpg");
    padding: 50px 0;
}

.r_main-bg section{
    width: 450px;
    padding:2rem 4rem;
    margin:auto;
    background: rgb(255, 255, 255);
    box-shadow: 0px 2px 8px rgb(0, 0, 0);
}
.main_detalle{
    padding: 10px 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.main_logo-container{
    display:flex;
    justify-content: center;
    margin: auto;
}
.main_logo-container img{
    width:120px;    
}
.form_container{
    margin: auto;
    font-family: 'Roboto';
    font-size: 16px;
}
.reserva_form{
    display:grid;
}
.label_fecha{
    margin: 0 0 -1vh 2.5vw;
    font-size: 14px;
}
.input{
    width: 80%;
    padding: .8em;
    margin: 1em auto;
    border: solid 1px #000;
    border-radius: 40px;
    transition: all .3s;
}
input:focus{
    width:85%;
}
.enviar{
    width:40%;
    margin: 2vh auto;
    border: solid 1px #000;
    padding: .8em;
    border-radius: 40px;
    background-color: aqua;
    transition: all .3s;
}
.enviar:hover{
    background-color: rgb(12, 211, 211);
}
/* POPUP */
.overlay{
    background: rgba(0,0,0,.3);
    position: fixed;
    top:0;
    right: 0;
    left:0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.transitionnone{
    transition: none;
}
.overlay.active{
    visibility: visible;
}
.popup{
    background:#f8f8f8;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.3);
    border-radius: 3px;
    padding:20px;
    text-align: center;
    width: 600px;
}
.popup h3{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 20px;
}
.popup .btn-cerrar-popup{
    font-size: 16px;
    line-height: 16px;
    display:block;
    text-align: right;
    color:#BBBBBB;
}
.popup .btn-cerrar-popup:hover{
    color: #000;
}
.popup form .input_container input{
    width: 70%;
    margin-bottom: 20px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #BBBBBB;
}
.popup form .btn-submit {
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border:none;
    color:#fff;
    background:#a30303;
    cursor: pointer;
}
.popup form .btn-submit:hover{
    background: #b41616;
}
.recom hr{
        height: 8px;
        background: rgb(0,0,0);
    background: rgb(152,0,0);
    background: radial-gradient(circle, rgba(152,0,0,1) 0%, rgba(173,28,28,1)70%, rgb(167, 123, 123) 84%,rgb(252, 224, 224) 100%);
        border: 0;
        height: 2px;
}
.radiobuttons{
    display:grid;
    width:70%;
    margin: auto;
    grid-template-columns: 2;
}
.radio1{
    grid-column:1;
}
.radio2{
    grid-column:2;
}
.radio1, .radio2{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.opcion{
    font-size: 5px;
}

/* ALF */

hr{
    width: 50%;
}

.contenedorBlanco{
    background: #ceccb79a;
    padding: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-gap: 5px;
    
}


.txt-floro{
    grid-column:1;
    margin:auto;
}
.txt-floro h1{
    font-family: 'Satisfy', cursiva;
    font-size:40px ;
}
.img-floro{
    background:black;
    grid-column:2; 
    width: 100%;
    display:flex;
}

.img-floro img{
    width:100%;
    object-fit: cover;
}





/* EWA terminando Conocenos */
.contenedor-ubicanos{
    background: #1818179a;
}

.ubi-conte{
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 20px;
}

.container-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-text h1{
    font-family: 'Satisfy', cursiva;
    font-size: 60px;
    margin-top: 10px;
}

.container-text p{
    margin-top: 10px;
    width: 50%;
    font-size: 20px;
}

.ubi-map{
    width: 70%;
    margin-left: 10%;
}

.map-google{
    width: 120%;
    height: 80%;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 200px;
}









/* MEDIAQUERY CARTA */
@media (max-width: 1390px){
    .container-t{
        display:block
    }
    .contenedor-carta{
        width: 50%;
    }
    .imagen-comida{
        margin: auto;
    }
    footer{
        padding: 20px 0;
    }
}
@media (max-width: 1220px){
    .contenedor-carta{
        width:50%;
    }
    .carta2{
        display:grid;
    }
    .txt-carta{
        grid-row:1;
        margin: auto;
        padding: 0;
        width:90%;
        text-align: center;
        margin-bottom: 1vh;
    }
    .imagen-comida{
        grid-row:2;
        margin: auto;
    }
}





@media (max-width: 900px) and (min-width:561px) {
    .header-nav{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding:20px;
        position: fixed;
        left: 100%;
        top: 110px;
        background: #9100009c;
        width:100%;
        height: calc(100% - 110px);
        transition: left .3s;
        
    }
    .header-nav li{
        list-style: none;
        margin: 20px 0;
    }
    .header-nav li a{
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
    .header-nav li a:hover{
        color:rgb(187, 186, 186);
        font-size: 120%;
    }
    .nav-toggle{
        font-size: 150%;
        display:block;
    }
    .hdr_btn-container{
        grid-area: Link;
        display:flex;
        align-items: center;
        justify-content: space-around;
    }
    .header-nav_visible{
        left:0;
    }
    .header-nav li a i{
        display: inline-block;
    }
}
@media(max-width: 800px){
    .contenedor-carta{
        width:100%;
        margin:0;
        border-radius: 0px;
    }
}

@media (max-width:560px){
    .header-logo img{
        width: 100px;
        
    }
    .header-nav{
        grid-area: Boton;
        flex-direction: column;
        align-items: center;
        position: fixed;
        left: 100%;
        top: 110px;
        background: #9100009c;
        width:100%;
        height: calc(100% - 110px);
        transition: left .3s;
    }
    .header-nav li a i{
        display: inline-block;
    }
    .header-nav li{
        list-style: none;
    }
    .header-nav li a{
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
    .header-nav li a:hover{
        color:rgb(187, 186, 186);
        font-size: 120%;
    }
    .nav-toggle{
        font-size: 200%;
        display:block;
    }
    .hdr_btn-container{
        grid-area: Link;
        display:flex;
        align-items: center;
        justify-content: space-around;
    }
    .header-nav_visible{
        left:0;
    }
    .r_main-bg section{
        width: 320px;
        background: rgb(255, 255, 255);
        box-shadow: 0px 2px 8px rgb(0, 0, 0);
    }
    .hdr_btn{
        margin: 5px;
        padding:8px;
        color: #ff0000;
        border: 1px solid #ff0000;
        border-radius: 5px;
        background-color: transparent;
    }
    /* footer */
    .ftr_datos{
        grid-template-columns: .1fr 1fr .1fr;
    }
    .ftr_d-horario{
        grid-column: 2;
        grid-row: 1;
    }
    .ftr_d-direccion{
        grid-column: 2;
        grid-row:2
    }
    .ftr_d-telefono{
        grid-column: 2;
        grid-row: 3;
    }
    .imagen-comida{
        display:none;
    }
    .carta-line{
        padding: 0 1vw;
    }
    .txt-carta p{
        display:none
    }
}


/* EWA querys de Conocenos mi parte */
@media (max-width: 360px) {
    .ubi-conte {
        grid-template-columns: repeat(1,1fr);
    }
    
    .container-text h1{
        font-family: 'Satisfy', cursiva;
        font-size: 54px;
        margin-top: 10px;
    }
    
    .container-text p{
        margin-top: 10px;
        width: 50%;
        font-size: 16px;
    }
    
    .ubi-map{
        justify-self: center;
        width: 70%;
        margin-left: 0%;
    }    

    .map-google{
        width: 100%;
        height: 80%;
        display: block;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .ubi-conte {
        grid-template-columns: repeat(1,1fr);
    }

    .container-text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}



@media (max-width:800px){
    .contenedorBlanco{
        grid-template-rows: .5fr 1fr;
        grid-row-gap: 10px;
    }
    .txt-floro{
        grid-row: 1;
        grid-column: 1 /span 2;
        margin:auto;
    }
    .img-floro{
        grid-row: 2;
        grid-column: 1 /span 2;
        display: flex;
    }
    .img-floro img{
        width: 100%
    }
}

@media (max-width:900px) and (min-width:601px){
    .recom1{
        margin:10px;
        width: 80%;
        display: flex;
    }
    
}
@media (max-width:600px){
    .recom{
        justify-content: center;
        align-items: center;
    }
    .recom1{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}







    